<div class="container">
  <div class="row">
    <div class="col">
      <h2>Sobre</h2>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p>Sistema desenvolvido para a matéria de <strong>Laboratório de Engenharia de Software</strong> para a <strong>FATEC zona sul</strong>.</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p>Trabalho realizado por:</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <ul>
        <li>Adriano Batista Aguilar</li>
        <li>Jhones Bazilio dos Santos</li>
        <li>Marcelo Calixto Soares da Silva</li>
        <li>Rafael Fernandes da Silva</li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p>Professor orientador: <strong>Paulo César de Oliveira Barroso de Carvalho</strong></p>
    </div>
  </div>
</div>
