<div class="container">
  <div class="row">
    <div class="col">
      <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <h2>Entregar</h2>
        </div>
        <div class="form-group">
          <mat-form-field class="w-75">
            <mat-select placeholder="Cliente" name="cliente" #cliente formControlName="cdPessoa">
              <mat-option *ngFor="let cliente of clientes" [value]="cliente.cdPessoa">
                {{cliente.nmPessoa}}
              </mat-option>
            </mat-select>
          </mat-form-field>&nbsp;
          <button mat-raised-button type="button" (click)="buscar(cliente.value)" color="primary">Buscar</button>
        </div>

        <div class="form-group">
          <p>Filmes Não Entregues:</p>
          <mat-list>
            <mat-list-item *ngFor="let item of adicionados">
              {{ item.dsTitulo }}&nbsp;-&nbsp;
              <i (click)="retirar(item)" class="material-icons cursor-pointer">
                clear
              </i>
            </mat-list-item>
          </mat-list>
        </div>

        <div class="form-group">
          <button (click)="cotar()" type="button" mat-raised-button>Cotar</button>
        </div>

        <div *ngIf="valor" class="form-group" disabled>
          <p>Valor: {{ valor | currency:'BRL' }}</p>
        </div>

        <div class="form-group">
          <button color="primary" type="submit" mat-flat-button>Finalizar</button>
        </div>
      </form>
    </div>
  </div>
</div>
