<div class="container">
  <div class="row">
    <div class="col">
      <h2>Clientes</h2>
    </div>
    <div class="col-1">
      <i [routerLink]="[ 'cadastro' ]" class="material-icons">
        add_box
      </i>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">Telefone</th>
            <th scope="col">Sexo</th>
            <th scope="col">e-mail</th>
            <th scope="col">Nascimento</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cliente of users; index as i">
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ cliente.name }}</td>
            <td>{{ cliente.phone }}</td>
            <td>{{ cliente.gender }}</td>
            <td>{{ cliente.email }}</td>
            <td>{{ cliente.birth | date }}</td>
            <td>
              <i [routerLink]="[ '/editar', cliente.id ]" class="material-icons">
                create
              </i>
              &nbsp;
              <i (click)="excluir(cliente.id)" class="material-icons">
                delete
              </i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
